<a href="https://colab.research.google.com/github/Avinash238/La-Robo-Liga-Workshops/blob/main/SA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Welcome to your first assignment of Summer Analytics 2023! We hope you are excited to implement and test everything you have learnt up until now.<a href = "https://drive.google.com/file/d/1U73P58VAc4EXM98Or9feKnVx9I9FOP_L/view?usp=sharing"> The dataset</a> which you'll use includes information about Movies.**

 We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!
 
Let's get started with importing numpy, pandas, seaborn and matplotlib!

Note - matplotlib should be imported with the command :

**import matplotlib.pyplot as plt**

Start by importing all important libraries

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import files

Read the csv file and assign it to a variable .

In [ ]:
movies_data = pd.read_csv("imdb_top_1000.csv", sep=",", encoding='unicode_escape')

Display shape of dataframe

In [ ]:
movies_data.shape

(1000, 16)

Print all columns of dataframe

In [ ]:
movies_data.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

Remove the column 'Poster_Link' and update the dataframe.

In [ ]:
movies_data.drop(columns='Poster_Link', inplace=True)

Set the 'Series_Title' column as the index of dataframe

In [ ]:
movies_data.set_index('Series_Title')

,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,
The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

Print a list of all the unique Genre

In [ ]:
print(list(movies_data["Genre"].unique()))

['Drama', 'Crime, Drama', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Biography, Drama, History', 'Action, Adventure, Sci-Fi', 'Drama, Romance', 'Western', 'Action, Sci-Fi', 'Biography, Crime, Drama', 'Action, Adventure, Fantasy', 'Comedy, Drama, Thriller', 'Adventure, Drama, Sci-Fi', 'Animation, Adventure, Family', 'Drama, War', 'Crime, Drama, Fantasy', 'Comedy, Drama, Romance', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Action, Drama, Mystery', 'Drama, Family, Fantasy', 'Drama, Music', 'Biography, Comedy, Drama', 'Drama, Mystery, Sci-Fi', 'Biography, Drama, Music', 'Crime, Mystery, Thriller', 'Animation, Adventure, Drama', 'Animation, Drama, War', 'Adventure, Comedy, Sci-Fi', 'Horror, Mystery, Thriller', 'Drama, Romance, War', 'Comedy, Drama, Family', 'Animation, Drama, Fantasy', 'Action, Biography, Drama', 'Animation, Action, Adventure', 'Drama, Western', 'Action, Adventure', 'Comedy, Drama', 'Drama, Family', 'Drama, Mystery, Thriller', 'Mystery, Thriller', 'Drama, Horror', 'Drama, Mystery, War', 'Horror, Sci-Fi', 'Drama, Musical', 'Comedy', 'Drama, Film-Noir', 'Comedy, Drama, War', 'Drama, Thriller, War', 'Drama, Fantasy, Horror', 'Crime, Drama, Music', 'Adventure, Drama, War', 'Drama, Romance, Sci-Fi', 'Comedy, Romance', 'Comedy, Crime', 'Drama, Family, Sport', 'Animation, Adventure, Comedy', 'Adventure, Drama, Thriller', 'Comedy, Crime, Drama', 'Crime, Drama, Sci-Fi', 'Adventure, Sci-Fi', 'Adventure, Biography, Drama', 'Adventure, Mystery, Thriller', 'Mystery, Romance, Thriller', 'Comedy, Musical, Romance', 'Crime, Drama, Film-Noir', 'Drama, Mystery', 'Drama, Sci-Fi', 'Action, Drama, War', 'Action, Drama', 'Adventure, Comedy, Drama', 'Biography, Drama, Sport', 'Action, Comedy, Crime', 'Action, Biography, Crime', 'Drama, Mystery, Romance', 'Action, Drama, Sport', 'Drama, Fantasy, War', 'Action, Drama, Sci-Fi', 'Biography, Drama', 'Action, Comedy, Romance', 'Animation, Family, Fantasy', 'Action, Thriller', 'Action, Adventure, Comedy', 'Adventure, Comedy, Fantasy', 'Adventure, Drama, History', 'Action, Drama, Thriller', 'Comedy, Music, Romance', 'Drama, Fantasy, History', 'Crime, Thriller', 'Adventure, Drama, Western', 'Comedy, War', 'Drama, Thriller', 'Animation, Drama, Family', 'Drama, Romance, Thriller', 'Comedy, Drama, Musical', 'Comedy, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Adventure, Drama, Fantasy', 'Biography, Drama, Family', 'Animation, Comedy, Drama', 'Drama, Sport', 'Animation, Action, Drama', 'Adventure, Drama, Musical', 'Drama, Music, Romance', 'Comedy, Crime, Romance', 'Comedy, Crime, Sport', 'Drama, History, Romance', 'Adventure, Drama', 'Animation, Adventure, Fantasy', 'Horror, Mystery, Sci-Fi', 'Drama, Fantasy, Music', 'Action, Sci-Fi, Thriller', 'Drama, Fantasy', 'Drama, Horror, Thriller', 'Drama, History', 'Film-Noir, Mystery, Thriller', 'Fantasy, Horror, Mystery', 'Action, Crime, Thriller', 'Comedy, Drama, Music', 'Biography, Drama, Thriller', 'Animation, Biography, Drama', 'Action, Mystery, Thriller', 'Crime, Drama, Romance', 'Action, Adventure, Thriller', 'Crime, Drama, Musical', 'Animation, Crime, Mystery', 'Action, Crime, Comedy', 'Mystery, Sci-Fi, Thriller', 'Animation, Action, Crime', 'Comedy, Fantasy, Romance', 'Drama, History, Thriller', 'Animation, Action, Sci-Fi', 'Adventure, Family, Fantasy', 'Drama, Fantasy, Romance', 'Drama, History, War', 'Adventure, Thriller', 'Horror', 'Drama, Family, Musical', 'Action, Drama, Western', 'Crime, Drama, Horror', 'Drama, Film-Noir, Mystery', 'Comedy, Crime, Thriller', 'Film-Noir, Mystery', 'Comedy, Crime, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Horror', 'Action, Adventure, History', 'Drama, Music, Mystery', 'Comedy, Music', 'Comedy, Family', 'Drama, Music, Musical', 'Action, Adventure, Horror', 'Action, Adventure, Biography', 'Biography, Drama, War', 'Action, Adventure, Western', 'Horror, Thriller', 'Comedy, Mystery, Romance', 'Drama, Thriller, Western', 'Crime, Film-Noir, Thriller', 'Drama, Film-Noir, Romance', 'Crime, Film-Noir, Mystery', 'Action, Adventure, Romance', 'Comedy, Music, Musical', 'Adventure, Horror, Sci-Fi', 'Fantasy, Horror', 'Action, Drama, History', 'Adventure, Comedy, Family', 'Animation, Biography, Crime', 'Adventure, Biography, Crime', 'Adventure, Fantasy', 'Drama, History, Mystery', 'Action, Comedy, Mystery', 'Adventure, Drama, Romance', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, History', 'Action, Comedy, Fantasy', 'Family, Sci-Fi', 'Adventure, History, War', 'Animation, Sci-Fi', 'Family, Fantasy, Musical', 'Thriller', 'Comedy, Family, Fantasy', 'Adventure, Comedy, Film-Noir', 'Film-Noir, Thriller', 'Comedy, Family, Romance', 'Drama, Horror, Sci-Fi', 'Comedy, Musical, War', 'Biography, Drama, Romance', 'Drama, History, Music', 'Animation, Action, Fantasy', 'Animation, Comedy, Fantasy', 'Comedy, Western', 'Action, Adventure, War', 'Drama, Horror, Mystery', 'Animation, Comedy, Crime', 'Action, Adventure, Crime', 'Action, Adventure, Mystery', 'Action, Adventure, Family', 'Action, Crime, Mystery', 'Animation, Drama, Romance', 'Drama, War, Western', 'Adventure, Comedy, War']

1. What is the Number of Directors in the given dataset ?

In [ ]:
li = list(movies_data["Director"].unique())
print(len(li))

548

2. What is the mean, median and standard deviation of IMDB rating in the dataset ?

3. Which director has directed the most number of movies?

4. Name the Movie which has the highest Runtime ?

5. How many movies are released after year 2000 and have IMDB rating > 8.5 ?

Using seaborn make different types of plots, observe the trend and answer the questions.
6. Make a countplot of Movies directed by top 5 directors.

7. Make a plot to analyze distribution of IMDB rating?

8. What type of Genre has the highest IMDB rating?

9. Name the top 5 movies that have earned highest Meta score.

10. Of which Genre movie has the highest Runtime?

**Using the knowledge about Plotly that you have  try making plots and analyse the data .Whenever you come across an interesting analysis please show the corresponding plot(using Plotly) and comment down your analysis for the same**